<div class="parent">
    <form action="">
        <h1>Calculator</h1>

            <label for="">Number 1:</label>
            <input type="number" [(ngModel)]="num1" [ngModelOptions]="{standalone: true}"><br>

            <label for="">Number 2:</label>
            <input type="number" [(ngModel)]="num2" [ngModelOptions]="{standalone: true}"><br>

            <button (click)="sum()">sum</button>
            <button (click)="sub()">sub</button>
            <button (click)="mul()">mul</button>
            <button (click)="div()">div</button>

            <h1>Result is {{result}}</h1>
            <!-- <h2>hi</h2> -->
    </form>
</div>


