<table border="1">
    <thead>
          <tr>
            <th>Name</th>
            <th>Sub</th>
            <th>Marks</th>
            <th>Result</th>
          </tr>
    </thead>
    <tbody>
         <tr *ngFor="let user of users">
              <td>{{user.name | uppercase}}</td>
              <td>{{user.sub}}</td>
              <td [ngStyle]="{'color' :user.marks<35?'red':'green'}">{{user.marks}}</td>
              <td [ngClass]="{'red':user.marks<=35, 'green':user.marks>35}">{{user.result}}</td>
         </tr>
    </tbody>
</table>
<h1>{{today}}</h1>
<!-- use pipes -->
<h1>{{today | date}}</h1>
<h1>{{today | date:'yyyy,MM,dd'}}</h1>
<h1>{{today | date:'dd-MM-yy'}}</h1>

<h1>{{users | json}}</h1>