*{
    box-sizing: border-box;
}

.parent{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: 20%;
    width: 20%;
    background-color: beige;
    padding: 20px;
}