<div class="parent">
    <input type="text" placeholder="search" style="padding: 10px;" [(ngModel)]="term">

    <button (click)="filterFunc()" style="padding: 10px; border: 0; border-radius: 5px; color: white; background-color: gray;">Search</button>

    <select name="" id="" [(ngModel)]="column" style="padding: 10px;">
        <option value="" disabled>column</option>
        <option value="color">Color</option>
        <option value="fuel">Fuel</option>
    </select>
    <select name="" id="" [(ngModel)]="order" style="padding: 10px;">
        <option value="" disabled>order</option>
        <option value="asc" >Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <button (click)="sortFunc()" style="padding: 10px; border: 0; border-radius: 5px; color: white; background-color: gray;">Sort</button>

    <select name="" id="" [(ngModel)]="page" style="padding: 10px;" (change)="pagination()">
        <option value="0" disabled>Page</option>
        <option >1</option>
        <option >2</option>
        <option >3</option>
    </select>
    <table class="table table-dark">
        <thead>
             <tr>
                <th>Id</th>
                 <th>Vehicle</th>
                 <th>Manufacturer</th>
                 <th>Model</th>
                 <th>Type</th>
                 <th>Fuel</th>
                 <th>Color</th>
                 <th>Image</th>
                 <th>Actions</th>
             </tr>
        </thead>
        <tbody>
               <tr *ngFor="let vehicle of vehicles">
                <td>{{vehicle.id}}</td>
                 <td>{{vehicle.Vehicle}}</td>
                 <td>{{vehicle.manufacturer}}</td>
                 <td>{{vehicle.model}}</td>
                 <td>{{vehicle.type}}</td>
                 <td>{{vehicle.fuel}}</td>
                 <td>{{vehicle.color}}</td>
                 <td>
                    <img [src]="vehicle.image" alt="" height="100px" width="100px">
                </td>
                <td><Button style="padding: 10px; border-radius: 5px; background-color: red; color: white; border: 0;" (click)="deleteFunc(vehicle.id)">Delete</Button></td>
               </tr>
        </tbody>
     </table>
</div>
