<div class="parent">
    <input type="text" placeholder="Search" [(ngModel)]="filter">
    <button (click)="filterFunc()">Search</button>
    <select name="" id="" [(ngModel)]="column" style="padding: 10px;">
        <option value="" disabled>Column</option>
        <option value="name">Name</option>
        <option value="phone">Phone</option>
        <option value="city">City</option>
        <option value="fee">Fee</option>
        <option value="id">Id</option>
    </select>
    <select name="" id="" [(ngModel)]="order" style="padding: 10px;">
        <option value="" disabled>Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button (click)="sort()">Sort</button>
    <select name="" id="" [(ngModel)]="page" style="padding: 10px;" (change)="pagination()">
        <option value=0 disabled>Page</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select>
    <div class="child">
        <div class="card" style="width:400px" *ngFor="let info of information">
            <img class="card-img-top" [src]="info.image" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Name:{{info.name}}</h4>
              <h4 class="card-text">Phone No:{{info.phone}}</h4>
              <h4 class="card-text">City:{{info.city}}</h4>
              <h4 class="card-text">Fee:{{info.fee}}</h4>
              <h4 class="card-text">Id:{{info.id}}</h4>
              <button style="background-color: red;" (click)="deleteCard(info.id)">Delete]</button>
              <button style="background-color: gray;" (click)="edit(info.id)">Edit</button>
            </div>
          </div>
    </div>
</div>
