<div class="parent">
    <div class="child1" style="overflow: auto;">
          <h1>My Website</h1><hr>
          <h3 routerLink="home" style="cursor: pointer;">Home</h3>
          <h3 routerLink="about" style="cursor: pointer;">About</h3>
          <h3 routerLink="databinding" style="cursor: pointer;">Databinding</h3>
          <h3 routerLink="calculator" style="cursor: pointer;">Calculator</h3>
          <h3 routerLink="rectangle" style="cursor: pointer;">Rectangle</h3>
          <h3 routerLink="circle" style="cursor: pointer;">Circle</h3>
          <h3 routerLink="bmi" style="cursor: pointer;">BMI</h3>
          <h3 routerLink="directives" style="cursor: pointer;">Directives</h3>
          <h3 routerLink="marks" style="cursor: pointer;">Marks</h3>
          <h3 routerLink="table" style="cursor: pointer;">Table</h3>
          <h3 routerLink="cars" style="cursor: pointer;">Cars</h3>
          <h3 routerLink="events" style="cursor: pointer;">Event</h3>
          <h3 routerLink="employeTable" style="cursor: pointer;">Employe</h3>
          <h3 routerLink="vehicle" style="cursor: pointer;">Vehicle</h3>
          <h3 routerLink="account" style="cursor: pointer;">Account</h3>
          <h3 routerLink="flipkart" style="cursor: pointer;">Flipkart</h3>
          <h3 routerLink="email" style="cursor: pointer;">Email</h3>
          <h3 routerLink="boredPlay" style="cursor: pointer;">Bored Play</h3>
          <h3 routerLink="gallery" style="cursor: pointer;">Gallery</h3>
          <h3 routerLink="student" style="cursor: pointer;">Student</h3>
          <h3 routerLink="createVehicle" style="cursor: pointer;">Create Vehicle</h3>
          <h3 routerLink="createStudent" style="cursor: pointer;">Create Student</h3>
          <h3 routerLink="createAccount" style="cursor: pointer;">Create Account</h3>
          <h3 routerLink="createUser" style="cursor: pointer;">Create User</h3>
          <h3 routerLink="studentForm" style="cursor: pointer;">Student Form</h3>
          <h3 routerLink="sellerApp" style="cursor: pointer;">Seller App</h3>
          <h3 routerLink="parent" style="cursor: pointer;">Parent</h3>
          <h3 routerLink="siblings" style="cursor: pointer;">Siblings</h3>
          <h3 routerLink="calciProject" style="cursor: pointer;">Calci Project</h3>
          <button (click)="logout()" class="logout">Logout</button>
    </div>
    <div class="child2" style="overflow: auto;">
        <router-outlet></router-outlet>
    </div>
</div>
