<div class="parent">
    <div class="child1" style="overflow: auto;">
          <h1>My Website</h1><hr>
          <h3 routerLink="home" style="cursor: pointer;">Home</h3>
          <h3 routerLink="about" style="cursor: pointer;">About</h3>
          <h3 routerLink="databinding" style="cursor: pointer;">Databinding</h3>
          <h3 routerLink="calculator" style="cursor: pointer;">Calculator</h3>
          <h3 routerLink="rectangle" style="cursor: pointer;">Rectangle</h3>
          <h3 routerLink="circle" style="cursor: pointer;">Circle</h3>
          <h3 routerLink="bmi" style="cursor: pointer;">BMI</h3>
          <h3 routerLink="directives" style="cursor: pointer;">Directives</h3>
          <h3 routerLink="marks" style="cursor: pointer;">Marks</h3>
          <h3 routerLink="table" style="cursor: pointer;">Table</h3>
          <h3 routerLink="cars" style="cursor: pointer;">Cars</h3>
          <h3 routerLink="events" style="cursor: pointer;">Event</h3>
          <h3 routerLink="employeTable" style="cursor: pointer;">Employe</h3>
          <h3 routerLink="vehicle" style="cursor: pointer;">Vehicle</h3>
          <h3 routerLink="account" style="cursor: pointer;">Account</h3>
          <h3 routerLink="flipkart" style="cursor: pointer;">Flipkart</h3>
          <button routerLink="/login" class="logout">Logout</button>
    </div>
    <div class="child2" style="overflow: auto;">
         <router-outlet></router-outlet>
    </div>
</div>
