*{
    margin: 0;
    box-sizing: border-box;
}
.parent{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: azure;
}
.child1{
    height: 60%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}
.child2{
    height: 35%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}
.child3{
    height: 5%;
    width: 100%;
    background-color: chartreuse;
}
.child1L{
    height: 100%;
    width: 40%;
    background-color: chocolate;
}
.child1R{
    height: 100%;
    width: 60%;
    background-color:brown;
}
.child1RTop{
    width: 100%;
    height: 60%;
    background-color: bisque;
    overflow: auto;
}
.child1RBottom{
    width: 100%;
    height: 40%;
    background-color: blueviolet;
    overflow: auto;
}
.child2L{
    height: 100%;
    width: 40%;
    background-color: blue;
    overflow: auto;
}
.child2R{
    height: 100%;
    width: 60%;
    background-color:cornflowerblue;
}
label{
    width: 150px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.labelRadioD{
    width: 50px;
}
.child2L h2{
    color: black;
    text-align: center;
}
.buttonSC{
    display: inline-block;
    width: 250px;
    font-weight: 500;
}
.child1RTop h2, .child1RBottom h2{
    color: black;
    text-align: center;
}
.child1RTop label,.child1RBottom label{
    margin-left: 60px;
}
.buttonDel{
    display: inline-block;
    /* width: 250px; */
    font-weight: 500;
    margin-left: 60px;
    margin-top: 10px;
}
p{
    color: red;
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
}
